# Xcode

sourcekitten-output.json
docs/
/*.xcodeproj
**/xcuserdata
**/xcshareddata
*.xcconfig
*.framework.zip

# CocoaPods

Pods/
Examples/**/Podfile.lock

# Carthage

Carthage/

# Various

.DS_Store

# Swift Package Manager

.build/
Packages/
.swiftpm

# AppCode

.idea/