.DS_Store
sourcekitten-output.json
docs/
/.build
/Packages
/*.xcodeproj
**/xcuserdata
**/xcshareddata
Pods/
Carthage/Build
Carthage/Checkouts
!Carthage/RxKeyboard/
Examples/**/Podfile.lock
*.xcconfig
*.framework.zip
