osx_image: xcode9
language: objective-c
sudo: required
env:
  global:
    - PROJECT="RxKeyboard.xcodeproj"
    - SCHEME="RxKeyboard-Package"
    - IOS_SDK="iphonesimulator11.0"
    - MACOS_SDK="macosx10.13"
    - TVOS_SDK="appletvsimulator11.0"
    - WATCHOS_SDK="watchsimulator4.0"
  matrix:
    - SDK="$IOS_SDK"      TEST=0  DESTINATION="platform=iOS Simulator,name=iPhone 8,OS=11.0"

install:
  - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
  - swift --version
  - bundle install

before_script:
  - set -o pipefail
  - swift package generate-xcodeproj

script:
  - if [ $TEST == 1 ]; then
      xcodebuild clean build test
        -project "$PROJECT"
        -scheme "$SCHEME"
        -sdk "$SDK"
        -destination "$DESTINATION"
        -configuration Debug
        -enableCodeCoverage YES
        CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty -c;
    else
      xcodebuild clean build
        -project "$PROJECT"
        -scheme "$SCHEME"
        -sdk "$SDK"
        -destination "$DESTINATION"
        -configuration Debug
        CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty -c;
    fi
  - bundle exec pod lib lint --verbose --allow-warnings --fail-fast

before_deploy:
  - bundle exec swiftproj generate-xcconfig --podspec RxKeyboard.podspec
  - bundle exec swiftproj generate-xcodeproj --xcconfig-overrides Config.xcconfig
  - bundle exec swiftproj configure-scheme --project RxKeyboard.xcodeproj --scheme RxKeyboard-Package --buildable-targets RxKeyboard
  - bundle exec swiftproj remove-framework --project RxKeyboard.xcodeproj --target RxKeyboard --framework RxCocoa.framework
  - bundle exec swiftproj remove-framework --project RxKeyboard.xcodeproj --target RxKeyboard --framework RxCocoaRuntime.framework
  - carthage bootstrap
  - carthage build --no-skip-current --verbose | xcpretty -c
  - carthage archive RxKeyboard

deploy:
  provider: releases
  api_key: $GITHUB_ACCESS_TOKEN
  file: $FRAMEWORK.framework.zip
  skip_cleanup: true
  on:
    repo: RxSwiftCommunity/RxKeyboard
    tags: true
    condition: $SDK = $IOS_SDK
